<div class="container">
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% @movies.each do |movie| %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<%= link_to image_tag(movie.image_url, onerror: 'imgerror(this)', height: '500'), movie_path(movie) %>
				</div>
			</div>
		<% end %>
	</div>
	<br>
	<%= link_to 'New Movie', new_movie_path, class: 'btn btn-tl' %>
</div>